*{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.head{
    text-align: center;
}

.head::before {
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background: #fff;
    position : absolute;
    left: 5%;
    top: 10%;
}

.head::after {
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background: #fff;
    position : absolute;
    right: 5%;
    top: 10%;
}

body {
    background-color: 	rgb(48, 47, 47);
}

.italic {
    color: wheat;
}


.text-container {
    margin: 30px;
    padding: 50px;    
}

p{
    text-align: left;
}

.container {
    margin-left: 30px;
}

i {
    color: white;
}